@require 'variables'

@require "audioControls"
@require "trackDisplay"
@require "soundcloudAuthorizer"

body
  background-image: url("../img/background/waves.jpg")
  background-size cover
  padding paddingTopBorder paddingLeftBorder
