@require 'variables'

@require "audioControls"
@require "trackDisplay"
@require "soundcloudAuthorizer"
@require "playlist"

body
  background-image: url("../img/background/waves.jpg")
  background-size cover
  padding paddingTopBorder paddingLeftBorder

.wrapper
  height 100%
  overflow scroll
