#playlist
  background-color containerBackground
  padding 15px
  overflow-y scroll
  height 100%

  .track
    padding 10px
    color white

    span
      display block

    .track-username
      font-weight 600
