#soundcloud-authorizer
  max-width 400px
  background-color containerBackground
  margin auto
  padding 2rem
  text-align center

  span#authorizer-description
    display block
    color white
    font-size 20px
    margin-bottom 2rem

  .soundcloud-connect
    background-color soundcloud
    color white

    span
      font-size 20px
      margin-left 10px
