.track-display
  position absolute
  bottom 0
  margin-bottom paddingTopBorder
  display flex

.track-artwork
  background-color containerBackground
  padding 1rem
  display inline-block

.track-info
  color white
  font-size 2rem
  margin-left 0.2rem

  div
    background-color containerBackground
    padding 0.5rem
    margin-bottom 0.2rem

  .track-user
    display inline-flex
